nav.navigation
  .nav-left
    a(href="/").logo ZeldaStrats.com
  .nav-right
    a.modal-trigger.icon(href="#loginModal")
      span.fa.fa-sign-in
      span Login
    a.modal-trigger.icon(href="#registerModal")
      span.fa.fa-plus
      span Register
    a(href="#settings", data-opens="settings-menu")
      span.fa.fa-cog
    a.nav-hamburger(href="#!")
      span.fa.fa-bars
    .section.hide(data-menu="settings-menu")
      #theme-switcher
        a.active(href="##", data-theme="theme-default") Forest
        a(href="##", data-theme="theme-qwd") Ocean
