nav.navigation
  .nav-left
    a(href="/").logo ZeldaStrats.com
  .nav-right
    a(href="#login")
      span.fa.fa-sign-in
      span &nbsp; Login
    a(href="#login")
      span.fa.fa-child
      span &nbsp; Register
