nav.navigation
  .nav-left
    a(href="/").logo ZeldaStrats.com
  .nav-right
    a.icon(href="#login")
      span.fa.fa-sign-in
      span Login
    a.icon(href="#register")
      span.fa.fa-plus
      span Register
    a(href="#settings", data-opens="settings-menu")
      span.fa.fa-cog
    .section.hide(data-menu="settings-menu")
      #theme-switcher
        a.active(href="##", data-theme="theme-default") Forest
        a(href="##", data-theme="theme-qwd") Ocean
