/* Navigation */
header {
  .block;.relative;
  width:100%;
}
nav.navigation {
  .section;.relative;
  z-index:2;
  .space-between;
  .flex-row;
  .shadow-1;
  .transition(.2s all ease-in-out);
}
body.sidebar-on nav.navigation {
  .shadow-2;
}

// Shared
nav .nav-left, nav .nav-right, nav .nav-hamburger {
  .justify-center;
  .section;
}

// Defaults
nav .nav-left {

}

nav .nav-right {
  .justify-end;
  .text-right;
}

nav .nav-logo {
  .mr-1;
   border-bottom:0;
}

nav a {
  .section;
  .p-1;
  .align-items(center);
  height:100%;
  border-bottom:2px solid transparent;
  &:hover {
    .transition(.18s background ease-in-out);
  }
  &.logo {
    .font-triforce;
    font-size:2rem;
  }

  &.icon {
    .section;.flex-column;
    span {
      font-size:1.4rem;
      &:not(.fa) {
        text-transform:uppercase;
        font-size:.7rem;
        margin-top:.65rem;
      }
    }
    span.fa {

    }
  }
  &[data-opens=settings-menu] {//settings
    font-size:2.2rem;
  }
}

nav .nav-hamburger {
  display:none;
  font-size:2rem;
  .pl-2;.pr-15;
  border-bottom:0;
  .relative;
}

// Logo
nav .logo {
  padding-top:1.5rem;
}

// Media Queries
@media all and (max-width:950px) {
  nav .nav-hamburger { .flex-display(); }
  nav .nav-right a:not(.nav-hamburger) {
    display:none;
  }
  nav .nav-left a:not(.logo) {
    display:none;
  }
}
