#sidebar {
  .section;.flex-column;
  .fixed;
  .transform(translate3d(-120%,0,0));
  .transition(.18s transform ease-in-out);
  width:250px;height:100%;
  .shadow-1;
  z-index:3;

  a.full {
    .section;width:100%;
    .p-1;
    .transition(.15s background ease-in-out);
  }

}

.accordion {display:none;}

// HTML / Body Adjustments for sidebar
html.sidebar-on {
  #sidebar {
    .transform(translate3d(0,0,0));
  }
  .content:after {
    content:"";
    .absolute;
    top:0;left:0;right:0;bottom:0;
    width:100%;height:100%;
  }

}
