extends layouts/default

include mixins/gamesList.pug
block content
  .section.page-index
    #sidebar
      .section
        a.full(href="##") Standard Link
    .section.mt-4
      .cards-wrap.cap-width
        +gamesList(games)
