mixin gamesList(games)
  each game in games
    a.card.shadowed.rounded(href=`${game.nickname}`)
      .card__header
        .card__title= game.game
      .card__body
        .section.justify-center
          img(src=game.image_path)
      .card__footer
        .section.flex-column
          .section.mr-1
            span.fa.fa-sticky-note
            span &nbsp; 13 Edits
          .section.mr-1
            span.fa.fa-star
            span &nbsp; 41 Stars
